body {
  background-color: #fae4d8;
  link:#34999e;
}

#zooroyalschrift {
color:#34999e;
font-size:100px;
  margin-top:50px;
  margin-left: 750px;
}

#menu {
  color:#34999e;
  font-size: 25px;
}

div.magazin {
  margin-top:10px;
  margin-left: 350px;
}
