#zooroyalschrift {
color:#34999e;
font-size:100px;
}

div.zooroyal {
  margin-top:50px;
  margin-left: 750px;
}

#menu {
  color:#34999e;
  font-size: 25px;
}

div.magazin {
  margin-top:10px;
  margin-left: 350px;
}
